// Colors
$black: #1A1A1A;
$white: #FFFFFF;
$blue: #799bd1;
$blue-dark: #6095CB;
$blue-light: #39A6EA;
$blue-light-2: #5AAFE3;
$yellow: #f0b478;
$red: #E05656;
$green: #62b882;
$gray: #ededed;
$gray-2: #EEEEEE;
$gray-dark: #5c6066;
$orange: #E47027;
$orange-2: #F07052;
