/*===============================
	キャンプ場検索
================================*/
.camp-places {
  padding-top: 3em;

  @media (max-width: 480px) {
    padding-top: 1em;
    width: 98%;
    margin: 0 auto;
  }

  input {
    margin-top: 50px !important;
  }

  .form-label {
    font-size: 20px !important;
  }

  h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  .save-btn {
    width: 80%;
    margin: 30px auto;

    @media (max-width: 480px) {
      font-size: 13px;
    }
  }

  .info-table {
    border-collapse: collapse;
    border: 1px solid $gray-dark;
    margin-bottom: 30px;
    width: 100%;

    td, th {
      border-collapse: collapse;
      border: 1px solid $gray-dark;
      padding: 5px;

      a {
        word-break: break-all;
      }
    }

    @media (max-width: 480px) {
      width: 95%;
      margin: 0 auto;
      font-size: 14px;

      th {
        width: 100px;
      }
    }
  }

  .review-list {
    margin-bottom: 30px;

    h2 {
      font-size: 19px;
      margin: 50px 0 20px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px auto;

      .place-img {
        width: 200px;
        height: auto;
        object-fit: cover;
        cursor: pointer;
      }

      .review-content {
        border: 1px solid;
        padding: 10px;
        margin-left: 10px;
        position: relative;
        flex-basis: 80%;
        height: 200px;

        &__user {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .avatar-img {
            width: 60px;
            height: 60px;
          }

          .date {
            margin-left: auto;
          }
        }

        .show-link {
          position: absolute;
          right: 20px;
          bottom: 4px;
        }
      }
    }

    @media (max-width: 480px) {
      width: 95%;
      margin: 30px auto;

      &__item {
        .place-img {
          width: 100px;
        }

        .review-content {
          font-size: 13px;
          flex-basis: 90%;
          height: 200px;
          padding: 10px 15px;

          &__user {
            .avatar-img {
              width: 40px;
              height: 40px;
            }

            .date {
              margin-left: auto;
            }
          }


          .show-link {
            bottom: 5px;
          }
        }
      }
    }
  }
}