/*===============================
	キャンプ場検索
================================*/
.camp-places {
  padding-top: 5em;

  @media (max-width: 480px) {
    padding-top: 2em;
  }

  input {
    margin-top: 50px !important;
  }

  .form-label {
    font-size: 20px !important;
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  .save-btn {
    width: 80%;
    margin: 30px auto;
  }

  .info-table {
    border-collapse: collapse;
    border: 1px solid $gray-dark;
    margin-bottom: 30px;
    width: 100%;

    td, th {
      border-collapse: collapse;
      border: 1px solid $gray-dark;
      padding: 5px;
    }

    @media (max-width: 480px) {
      width: 95%;
      margin: 0 auto;

      th {
        width: 100px;
      }
    }
  }

  .review-list {
    margin-bottom: 30px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px auto;

      img {
        flex-basis: 20%;
      }

      .review-content {
        border: 1px solid;
        padding: 10px;
        margin-left: 10px;
        position: relative;
        flex-basis: 80%;

        a {
          position: absolute;
          right: 20px;
        }
      }
    }

    @media (max-width: 480px) {
      width: 95%;
      margin: 30px auto;

      &__item {
        img {
          flex-basis: 10%;
        }

        .review-content {
          font-size: 14px;
          flex-basis: 90%;

          a {
            bottom: 4px;
          }
        }
      }
    }
  }
}