@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    width: 100%;
    color: $black;
    margin: 0;
}

h2 {
    font-weight: 500;
}

/*===============================
  全体設定
================================*/

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid $gray;
}

.btn {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin: auto;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    outline: none;

    &.default-btn {
        color: $black;
        background: $gray;
    }

    &.primary-btn {
        color: $white;
        background: $blue-dark;
    }

    &.warning-btn {
        color: $white;
        background: $yellow;
    }

    &.danger-btn {
        color: $white;
        background: $red;
    }

    &:hover {
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }
}

.text-error {
    color: $red;
    font-size: .9rem;
}

.text-center {
    text-align: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;

    .item {
        margin: 20px 0 20px auto;
        max-width: 200px;
    }
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

.header-nav {
    background: $red;
    color: $white;
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;

    .right {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;

        a {
            margin: 0 10px;
            font-size: .9rem;
        }

        .header-avatar {
            width: 100px;
        }
    }
}

.avatar-img {
    border-radius: 50%;
    object-fit: cover;
    width: 180px;
    height: 180px;

    &.small {
        width: 80px;
        height: 80px;
    }
}

.content {
    margin: 35px auto;
    text-align: center;
}

.my-10 {
    margin: 10px auto;
}

.my-5 {
    margin: 5px auto;
}

.mx-10 {
    margin: auto 10px;
}

.mx-5 {
    margin: auto 5px;
}

.tab-menu {
    display: flex;

    .tab-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 26px 0;
        background-color: $gray;
        cursor: pointer;
        color: $black;

        &:before {
            width: 25px;
            height: 18px;
            margin-right: 5px;
        }

        &.active {
            background-color: $gray-dark;
            color: $gray;

            a {
                color: $gray;
            }
        }

        &.type-grid {
            &:before {
                content: url("/img/icon_image_bk.svg");
            }

            &.active:before {
                content: url("/img/icon_image_white.svg");
            }
        }

        &.type-person {
            &:before {
                content: url("/img/icon_person_bk.svg");
            }

            &.active:before {
                content: url("/img/icon_person_white.svg");
            }
        }

        &.type-list {
            &:before {
                content: url("/img/icon_list_bk.svg");
            }

            &.active:before {
                content: url("/img/icon_list_white.svg");
            }
        }
    }
}

.require {
    color: $red;
    font-size: .9rem;
}

.flash-message {
    padding: 10px;
    text-align: center;
    background: $green;
    color: $white;

    &.error {
        background: $yellow;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-btn {
    margin-right: 16px;
    border-radius: 4px;
    background: $white;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 0 8px gray;
    border: 1px solid $blue;
    color: $blue;
    padding: 10px;

    img {
        margin-right: auto;
        width: 20px;
        position: relative;
        top: 4px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header-nav {
        display: block;

        h1 {
            text-align: center;
            padding: 10px 0;
        }

        .right {
            width: 100%;
        }
    }
}
