@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  color: $black;
  margin: 0;

  &.is-modal {
    overflow: hidden;
  }
}

h2 {
  font-weight: 500;
}

h3.head-with-border {
  font-weight: bold;
  font-size: 30px;
  position: relative;
  display: inline-block;

  .accent {
    color: $orange;
  }

  &.small {
    font-size: 16px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 28px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $black;
    border-radius: 2px;
  }
}

.bg-gray {
  background: $gray-2;
}

/*===============================
  全体設定
================================*/
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 116px;
  box-sizing: border-box;
}

.front-header-nav {
  display: flex;
  align-items: center;
  padding: 10px 5px;

  img {
    @media screen and (max-width: 480px) {
      width: 190px;
    }
  }

  .links {
    margin-left: auto;
  }
}

.btn {
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  border: none;
  transition: all 0.3s ease-in-out;
  margin: auto;
  width: 100%;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 23px;

  &.default-btn {
    color: $black;
    background: $white;
    border: 1px solid $black;
  }

  &.primary-btn {
    color: $white;
    background: $blue-dark;
  }

  &.warning-btn {
    color: $white;
    background: $orange-2;
  }

  &.success-btn {
    color: $white;
    background: $green;
  }

  &.danger-btn {
    color: $white;
    background: $red;
  }

  &.gray-btn {
    color: #666666;
    background: #DDDDDD;
  }

  &:not(:disabled):hover,
  &:not(.disabled):hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.twitter-btn {
  background: $blue-light-2;
  color: $white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 43px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: 44px;
  margin: 0 auto;

  img {
    margin-right: 10px;
  }
}

.micro-txt {
  font-size: 13px;
  line-height: 23px;
  margin-top: 10px;

  @media screen and (max-width: 480px) {
    font-size: 11px;
  }

  a {
    color: $blue-light;
    text-decoration: none;
  }
}

.or-txt {
  font-size: 14px;
  position: relative;
  margin: 28px auto;

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }

  &::before, &::after {
    content: "";
    background: #CCCCCC;
    width: 90px;
    height: 1px;
    position: absolute;
  }

  &::before {
    left: 0;
    top: 8px;
  }

  &::after {
    right: 0;
    top: 8px;
  }
}

.link-txt {
  font-size: 15px;
  color: $blue-light;
  text-decoration: none;
  padding: 10px;

  &.large {
    font-size: 18px;
    font-weight: bold;
  }

  @media screen and (max-width: 480px) {
    font-size: 12px;

    &.large {
      font-size: 16px;
    }
  }
}

.small-txt {
  font-size: 14px;

  @media screen and (max-width: 480px) {
    font-size: 13px;
  }
}

.text-error {
  color: $red;
  font-size: .8rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;

  .item {
    margin: 20px 0 20px auto;
    max-width: 200px;
  }
}

.flex-left {
  display: flex;
  justify-content: flex-start;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;

  a.page-link {
    color: $blue-light;
    text-decoration: none;
  }

  .page-item {
    margin: 0 10px;
    font-size: 15px;
  }
}

.auth-container {
  padding: 80px 0;

  .logo-img {
    width: 300px;
    display: flex;
    margin: 0 auto 20px;

    @media (max-width: 480px) {
      width: auto;
    }
  }

  .flash-message {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .content {
    background: $white;
    border: 1px solid #DDDDDD;
    width: 80%;
    margin: 0 auto;
    padding: 35px 0;

    .login-form {
      position: relative;
    }

    .arrow-link {
      position: absolute;
      left: -10px;

      img {
        width: 15px;
        height: 15px;
      }
    }

    @media (max-width: 480px) {
      width: 90%;
    }
  }
}

footer {
  background: $gray-dark;
  color: #FFFFFF;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 115px;

  .links {
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.9rem;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  .copy-write {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
  }
}

.avatar-img {
  border-radius: 50%;
  object-fit: cover;
  width: 180px;
  height: 180px;

  &.small {
    width: 80px;
    height: 80px;
  }
}

.content {
  margin: 35px auto;
  text-align: center;
}

.my-10 {
  margin: 10px auto;
}

.my-5 {
  margin: 5px auto;
}

.mx-10 {
  margin: auto 10px;
}

.mx-5 {
  margin: auto 5px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.py-10 {
  padding: 10px 0;
}

.py-20 {
  padding: 20px 0;
}

.py-30 {
  padding: 30px 0;
}

.tab-menu {
  display: flex;

  .tab-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 0;
    background-color: $white;
    cursor: pointer;
    color: $black;
    border-bottom: 5px solid $gray-dark;

    @media (max-width: 480px) {
      font-size: .8em;
    }

    &:before {
      width: 25px;
      height: 18px;
      margin-right: 5px;
    }

    &.active {
      background-color: $gray-dark;
      color: $gray;

      a {
        color: $gray;
      }
    }

    &.type-grid {
      &:before {
        content: url("/img/icon_image_bk.svg");
      }

      &.active:before {
        content: url("/img/icon_image_white.svg");
      }
    }

    &.type-person {
      &:before {
        content: url("/img/icon_person_bk.svg");
      }

      &.active:before {
        content: url("/img/icon_person_white.svg");
      }
    }

    &.type-list {
      &:before {
        content: url("/img/icon_list_bk.svg");
      }

      &.active:before {
        content: url("/img/icon_list_white.svg");
      }
    }
  }
}

.require {
  color: $red;
  font-size: .9rem;
}

.flash-message {
  padding: 10px;
  text-align: center;
  background: $green;
  color: $white;

  &.error {
    background: $yellow;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-btn {
  margin-right: 16px;
  border-radius: 4px;
  background: $white;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 0 8px gray;
  border: 1px solid $blue;
  color: $blue;
  padding: 10px;

  img {
    margin-right: auto;
    width: 20px;
    position: relative;
    top: 4px;
  }
}

.register-btn {
  width: 300px;
  margin: 0 auto;
  padding: 10px 25px;
  font-size: 1.1rem;
}

.camp-places-keyword-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

  img {
    margin: 0 15px;
  }

  .form-content {
    flex-basis: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  footer {
    .links {
      justify-content: center;

      a {
        margin: 0 5px;
      }
    }
  }
}
