$md-checkbox-size: 1.25em;

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;

    .form-label {
        position: absolute;
        top: 8px;
        font: 400 13px Roboto;
        color: #A9A9A9;
        cursor: text;
        transition: 0.2s;
        left: 0;
    }

    .form-group {
        position: relative;
        width: 100%;
        margin: 10px auto;

        input {
            background: linear-gradient(to bottom, transparent 92%, $yellow 8%) no-repeat;
            background-position: -1000px 0;
            background-size: 100%;
            display: block;
            width: 100%;
            padding: 5px 0;
            margin-top: 30px;
            border: none;
            border-bottom: solid 1px $yellow;
            font-size: 15px;
            transition: all 0.3s;

            &.is-invalid {
                background: linear-gradient(to bottom, transparent 92%, $red 8%) no-repeat;
                border-bottom: solid 1px $red;
            }

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px #F9F9F9 inset;
            }

            &:focus, &.focus {
                background-position: 0 0;
                outline: none;

                ~ .form-label {
                    top: 0;
                    color: $yellow;
                    font: 700 12px Roboto;
                }

                &.is-invalid {
                    ~ .form-label {
                        color: $red;
                    }
                }
            }

            &.small {
                width: 200px;

                ~.txt {
                    position: absolute;
                    top: 35px;
                    left: 210px;
                    font-size: 0.9rem;
                    color: $gray-dark;
                }
            }
        }

        textarea, textarea:focus {
            height: 230px;
            padding: 9px;
            margin-top: 30px;
            border: 1px solid $yellow;
            outline: none;
            width: 100%;

            &.is-invalid {
                border: 1px solid $red;
            }

            &:focus {
                padding: 7px;
                border: 3px solid $yellow;

                &.is-invalid {
                    border: 3px solid $yellow;
                }

                ~ .form-label {
                    color: $yellow;
                    font: 700 12px Roboto;
                }

                &.is-invalid {
                    ~ .form-label {
                        color: $red;
                    }
                }
            }

            ~ .form-label {
                top: 10px;
                left: 0;
            }
        }

        .form-item-note {
            color: $gray-dark;
            font-size: .8rem;
            margin-top: 5px;
            text-align: left;
        }
    }

    .form-check-group {
        position: relative;
        width: 100%;
        margin: 20px auto;
        text-align: left;

        .radio-item {
            z-index: 0;
            position: relative;
            display: inline-block;
            font-size: 14px;
            line-height: 1.8;
            margin-right: 10px;

            &:hover > input {
                &:focus {
                    opacity: 0.16;
                }
            }

            input {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                z-index: -1;
                position: absolute;
                left: -10px;
                top: -8px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background: $white;
                outline: none;
                opacity: 0;
                transition: opacity 0.3s, transform 0.2s;

                &:checked {
                    background: $yellow;
                }
                &:focus {
                    opacity: 0.12;
                }
            }

            input:checked + span::before {
                border-color: $yellow;
            }

            input:checked + span::after {
                transform: translate(5px, 5px) scale(1);
            }

            span {
                display: inline-block;
                width: 100%;
                cursor: pointer;

                &::before {
                    content: "";
                    display: inline-block;
                    box-sizing: border-box;
                    margin: 2px 10px 2px 0;
                    border: solid 2px; /* Safari */
                    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    vertical-align: top;
                    transition: border-color 0.2s;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 0;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background: $yellow;
                    transform: translate(5px, 5px) scale(0);
                    transition: transform 0.2s;
                }
            }
        }

        .form-check-label {
            vertical-align: top;
            padding-left: 1px;
            font-size: .8rem;

            &:not(:empty) {
                padding-left: .75em;
            }

            &:before, &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
            }

            &:before {
                width: $md-checkbox-size;
                height: $md-checkbox-size;
                background: #fff;
                border: 2px solid $green;
                border-radius: 0.125em;
                cursor: pointer;
                transition: background .3s;
            }
        }

        input[type="checkbox"] {
            outline: 0;
            visibility: hidden;
            width: $md-checkbox-size;
            margin: 0;
            display: block;
            float: left;
            font-size: inherit;

            &:checked {
                + label:before{
                    background: $green;
                    border:none;
                }
                + label:after {

                    $md-checkmark-size: $md-checkbox-size - 2 * .25em;

                    transform: translate(0.2em, 0.3em) rotate(-45deg);
                    width: $md-checkmark-size;
                    height: $md-checkmark-size / 2;

                    border: 0.125em solid $white;
                    border-top-style: none;
                    border-right-style: none;
                }
            }
        }
    }

    .form-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        min-width: 200px;
    }

    ::selection {
        background: $yellow;
        color: white;
    }

    .file-area {
        margin-top: 35px;
    }

    .is-public {
        margin-left: 10px;
    }
}

.login-form,
.register-form,
.profile-form,
.camp-schedule-form,
.access-code-form,
.import-form {
    width: 70%;
    min-height: 300px;
    margin: 0 auto;
}
