/*===============================
  共通
================================*/
.header-nav {
  height: 70px;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 16px;
    font-weight: normal;
  }
}

.mypage-header-content {
  background: #fff;
  margin: 15px 30px;

  @media screen and (max-width: 480px) {
    margin: 0 19px;
  }

  .profile-block {
    width: 93%;
    margin: 0 auto;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .user-info {
      font-size: 16px;
      font-weight: bold;
      text-align: center;

      .btn {
        width: 200px;
        margin-top: 10px;
      }
    }
  }

  .search-box {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 30px;

    @media screen and (max-width: 480px) {
      width: 85%;
    }
  }
}

/*===============================
  キャンプ予定
================================*/
.camp-schedule-section {
  min-height: 500px;

  .content {
    padding: 10px;
  }

  .create-btn {
    width: 200px;
    margin: 35px auto 30px;
  }

  .camp-schedule-list {
    padding: 10px;

    .camp-schedule-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin: 20px auto;
      border: 1px solid;
      position: relative;
      padding: 10px;

      @media screen and (max-width: 480px) {
        padding: 0;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.is-future {
        background: #FFFDF0;
      }

      .delete-btn {
        position: absolute;
        right: 8px;
        top: 8px;
        background: #CCCCCC;
        color: #fff;
        border-radius: 50%;
        padding: 10px;
        line-height: 15px;
        font-weight: bold;
        cursor: pointer;
      }

      .schedule-content {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        padding: 5px;
      }

      .content-part {
        margin-right: 10px;

        &.eye-catch-image {
          margin: 20px !important;

          @media screen and (max-width: 480px) {
            margin: 10px !important;
          }
        }
      }

      .eye-catch-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
      }

      .buttons {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;

        .content-part {
          width: 50%;

          a {
            margin: 5px 0;
          }
        }
      }
    }
  }
}

/*===============================
  プロフィール設定
================================*/
.profile-edit-section {
  .content {
    margin-bottom: 60px;
  }

  .top-content {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .qr-note {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }
}

/*===============================
  アクセスコード
================================*/
.access-code {
  color: $green;
  font-weight: bold;
  margin-top: 10px;
}

.copy {
  margin: 15px;
  width: 80%;
}

.logout-btn {
  width: 200px;
  margin-top: 10px;
  color: #AAAAAA !important;
  border-color: #AAAAAA !important;
}

.profile-delete-link {
  color: $red;
  font-size: 0.9rem;
  position: relative;
  top: 25px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .profile-edit-section {
    .profile-form {
      width: 90%;
    }
  }

  .camp-schedule-section {
    .camp-schedule-form {
      width: 90%;
    }

    .camp-schedule-list {
      .camp-schedule-item {
        flex-direction: column;

        .content-part {
          margin: 10px auto;
        }

        .buttons {
          width: 100%;

          .content-part {
            width: 45%;
          }
        }
      }
    }
  }
}

/*===============================
  ブックマーク
================================*/
.bookmark-section {
  min-height: 500px;

  .content {
    padding: 10px;

    @media screen and (max-width: 480px) {
      margin-top: 15px;
    }
  }

  .bookmark-list {
    padding: 10px;

    @media screen and (max-width: 480px) {
      padding: 0;
    }

    .bookmark-item {
      margin: 20px auto;
      border: 1px solid;
      position: relative;
      padding: 20px 40px;
      background: #fff;

      @media screen and (max-width: 480px) {
        padding: 47px 10px 0;
      }

      .handle {
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 25px;

        @media screen and (max-width: 480px) {
          top: 15px;
        }
      }

      &__name {
        font-size: 17px;

        @media screen and (max-width: 480px) {
          font-size: 15px;
        }
      }

      &__info {
        font-size: 15px;

        .flex {
          a {
            margin-right: 10px;
          }
        }

        @media screen and (max-width: 480px) {
          font-size: 13px;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .delete-btn {
        position: absolute;
        right: 8px;
        top: 8px;
        background: #CCCCCC;
        color: #fff;
        border-radius: 50%;
        padding: 10px;
        line-height: 15px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

