@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  color: #1A1A1A;
  margin: 0;
}

h2 {
  font-weight: 500;
}

/*===============================
  全体設定
================================*/

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ededed;
}

.btn {
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: auto;
  width: 100%;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.btn.default-btn {
  color: #1A1A1A;
  background: #ededed;
}

.btn.primary-btn {
  color: #FFFFFF;
  background: #6188c7;
}

.btn.warning-btn {
  color: #FFFFFF;
  background: #f0b478;
}

.btn.success-btn {
  color: #FFFFFF;
  background: #62b882;
}

.btn.danger-btn {
  color: #FFFFFF;
  background: #e88b79;
}

.btn:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.text-error {
  color: #e88b79;
  font-size: 0.9rem;
}

.text-center {
  text-align: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-right .item {
  margin: 20px 0 20px auto;
  max-width: 200px;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
}

.header-nav {
  background: #e88b79;
  color: #FFFFFF;
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
}

.header-nav .logo-img {
  width: 250px;
}

.header-nav .right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.header-nav .right a {
  margin: 0 10px;
  font-size: 0.9rem;
}

.header-nav .right .header-avatar {
  width: 100px;
}

.avatar-img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 180px;
  height: 180px;
}

.avatar-img.small {
  width: 80px;
  height: 80px;
}

.content {
  margin: 35px auto;
  text-align: center;
}

.my-10 {
  margin: 10px auto;
}

.my-5 {
  margin: 5px auto;
}

.mx-10 {
  margin: auto 10px;
}

.mx-5 {
  margin: auto 5px;
}

.tab-menu {
  display: flex;
}

.tab-menu .tab-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
  background-color: #ededed;
  cursor: pointer;
  color: #1A1A1A;
}

.tab-menu .tab-item:before {
  width: 25px;
  height: 18px;
  margin-right: 5px;
}

.tab-menu .tab-item.active {
  background-color: #5c6066;
  color: #ededed;
}

.tab-menu .tab-item.active a {
  color: #ededed;
}

.tab-menu .tab-item.type-grid:before {
  content: url("/img/icon_image_bk.svg");
}

.tab-menu .tab-item.type-grid.active:before {
  content: url("/img/icon_image_white.svg");
}

.tab-menu .tab-item.type-person:before {
  content: url("/img/icon_person_bk.svg");
}

.tab-menu .tab-item.type-person.active:before {
  content: url("/img/icon_person_white.svg");
}

.tab-menu .tab-item.type-list:before {
  content: url("/img/icon_list_bk.svg");
}

.tab-menu .tab-item.type-list.active:before {
  content: url("/img/icon_list_white.svg");
}

.require {
  color: #e88b79;
  font-size: 0.9rem;
}

.flash-message {
  padding: 10px;
  text-align: center;
  background: #62b882;
  color: #FFFFFF;
}

.flash-message.error {
  background: #f0b478;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-btn {
  margin-right: 16px;
  border-radius: 4px;
  background: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 0 8px gray;
  border: 1px solid #799bd1;
  color: #799bd1;
  padding: 10px;
}

.auth-btn img {
  margin-right: auto;
  width: 20px;
  position: relative;
  top: 4px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header-nav {
    display: block;
  }

  .header-nav h1 {
    text-align: center;
    padding: 10px 0;
  }

  .header-nav .right {
    width: 100%;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.form-content .form-label {
  position: absolute;
  top: 8px;
  font: 400 13px Roboto;
  color: #A9A9A9;
  cursor: text;
  transition: 0.2s;
  left: 0;
}

.form-content .form-group {
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.form-content .form-group input {
  background: linear-gradient(to bottom, transparent 92%, #f0b478 8%) no-repeat;
  background-position: -1000px 0;
  background-size: 100%;
  display: block;
  width: 100%;
  padding: 5px 0;
  margin-top: 30px;
  border: none;
  border-bottom: solid 1px #f0b478;
  font-size: 15px;
  transition: all 0.3s;
}

.form-content .form-group input.is-invalid {
  background: linear-gradient(to bottom, transparent 92%, #e88b79 8%) no-repeat;
  border-bottom: solid 1px #e88b79;
}

.form-content .form-group input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #F9F9F9 inset;
}

.form-content .form-group input:focus,
.form-content .form-group input.focus {
  background-position: 0 0;
  outline: none;
}

.form-content .form-group input:focus ~ .form-label,
.form-content .form-group input.focus ~ .form-label {
  top: 0;
  color: #f0b478;
  font: 700 12px Roboto;
}

.form-content .form-group input:focus.is-invalid ~ .form-label,
.form-content .form-group input.focus.is-invalid ~ .form-label {
  color: #e88b79;
}

.form-content .form-group textarea,
.form-content .form-group textarea:focus {
  height: 230px;
  padding: 9px;
  margin-top: 30px;
  border: 1px solid #f0b478;
  outline: none;
  width: 100%;
}

.form-content .form-group textarea.is-invalid,
.form-content .form-group textarea:focus.is-invalid {
  border: 1px solid #e88b79;
}

.form-content .form-group textarea:focus,
.form-content .form-group textarea:focus:focus {
  padding: 7px;
  border: 3px solid #f0b478;
}

.form-content .form-group textarea:focus.is-invalid,
.form-content .form-group textarea:focus:focus.is-invalid {
  border: 3px solid #f0b478;
}

.form-content .form-group textarea:focus ~ .form-label,
.form-content .form-group textarea:focus:focus ~ .form-label {
  top: 10px;
  left: 0;
  color: #f0b478;
  font: 700 12px Roboto;
}

.form-content .form-group textarea:focus.is-invalid ~ .form-label,
.form-content .form-group textarea:focus:focus.is-invalid ~ .form-label {
  color: #e88b79;
}

.form-content .form-group textarea ~ .form-label,
.form-content .form-group textarea:focus ~ .form-label {
  top: 35px;
  left: 7px;
}

.form-content .form-group .form-item-note {
  color: #5c6066;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: left;
}

.form-content .form-check-group {
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: left;
}

.form-content .form-check-group .radio-item {
  z-index: 0;
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 1.8;
  margin-right: 10px;
}

.form-content .form-check-group .radio-item:hover > input:focus {
  opacity: 0.16;
}

.form-content .form-check-group .radio-item input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.2s;
}

.form-content .form-check-group .radio-item input:checked {
  background: #f0b478;
}

.form-content .form-check-group .radio-item input:focus {
  opacity: 0.12;
}

.form-content .form-check-group .radio-item input:checked + span::before {
  border-color: #f0b478;
}

.form-content .form-check-group .radio-item input:checked + span::after {
  transform: translate(5px, 5px) scale(1);
}

.form-content .form-check-group .radio-item span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.form-content .form-check-group .radio-item span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: solid 2px;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: top;
  transition: border-color 0.2s;
}

.form-content .form-check-group .radio-item span::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #f0b478;
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}

.form-content .form-check-group .form-check-label {
  vertical-align: top;
  padding-left: 1px;
  font-size: 0.8rem;
}

.form-content .form-check-group .form-check-label:not(:empty) {
  padding-left: 0.75em;
}

.form-content .form-check-group .form-check-label:before,
.form-content .form-check-group .form-check-label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.form-content .form-check-group .form-check-label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid #62b882;
  border-radius: 0.125em;
  cursor: pointer;
  transition: background 0.3s;
}

.form-content .form-check-group input[type=checkbox] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

.form-content .form-check-group input[type=checkbox]:checked + label:before {
  background: #62b882;
  border: none;
}

.form-content .form-check-group input[type=checkbox]:checked + label:after {
  transform: translate(0.2em, 0.3em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #FFFFFF;
  border-top-style: none;
  border-right-style: none;
}

.form-content .form-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  min-width: 200px;
}

.form-content ::-moz-selection {
  background: #f0b478;
  color: white;
}

.form-content ::selection {
  background: #f0b478;
  color: white;
}

.form-content .file-area {
  margin-top: 35px;
}

.form-content .is-public {
  margin-left: 10px;
}

.login-form,
.register-form,
.profile-form,
.camp-schedule-form,
.access-code-form,
.import-form {
  width: 70%;
  min-height: 300px;
  margin: 0 auto;
}

/*===============================
  自己紹介
================================*/

.header-image {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 1;
}

.header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile {
  display: flex;
  padding: 0 30px;
  margin: 0 0 30px;
}

.profile .avatar {
  width: 167px;
  margin-right: 16px;
  position: relative;
}

.profile .avatar img {
  position: absolute;
  top: -40px;
  z-index: 1;
}

.profile .text {
  width: 80%;
  padding: 0 20px;
}

.profile .name {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.profile .self-introduction {
  font-size: 14px;
}

.profile .self-introduction p {
  margin: 0;
}

/*===============================
  SNSリンク
================================*/

.sns-list {
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 30px;
  display: flex;
  padding: 10px 30px;
}

.sns-list .sns-wrapper {
  display: flex;
}

.sns-list .sns-wrapper .sns-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  padding: 15px 0;
  margin-right: 16px;
  border-radius: 4px;
  background: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a;
  box-shadow: 0 0 8px gray;
}

.sns-list .sns-wrapper .sns-item img {
  margin-right: auto;
  margin-left: 15px;
  width: 10%;
}

.sns-list .sns-wrapper .sns-item span {
  width: 60%;
}

/*===============================
  日数まとめ
================================*/

.summary {
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 10px;
  display: flex;
  padding: 30px;
}

.summary .summary-title {
  font-size: 20px;
  position: relative;
  padding: 15px 0;
}

.summary .summary-title:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ebebeb;
  width: 85%;
  left: 13%;
}

.summary .cards {
  display: flex;
  margin: 0 20px 0 0;
}

.summary .cards .card {
  display: inline-block;
  text-align: center;
  width: 150px;
  min-width: 150px;
  font-size: 14px;
  border-radius: 10px;
  background: #799bd1;
  color: #FFFFFF;
  margin: 0 12px 0 0;
}

.summary .cards .card.long {
  width: 200px;
  min-width: 200px;
}

.summary .cards .card.yellow {
  background: #f0b478;
}

.summary .cards .card.yellow .card-title {
  background: #db9e60;
}

.summary .cards .card.yellow .card-title:before {
  content: url("/img/icon_day.svg");
}

.summary .cards .card.red {
  background: #e88b79;
}

.summary .cards .card.red .card-title {
  background: #d57a6a;
}

.summary .cards .card.red .card-title:before {
  content: url("/img/icon_camp_place.svg");
}

.summary .cards .card .card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  background: #6188c7;
  border-radius: 10px 10px 0 0;
}

.summary .cards .card .card-title:before {
  content: url("/img/icon_stay.svg");
  width: 14px;
  height: 14px;
  margin-top: -4px;
  margin-right: 5px;
}

.summary .cards .card .card-data {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 78px;
  font-size: 60px;
}

.summary .cards .card .card-data .unit {
  font-size: 18px;
  margin-left: 7px;
}

.summary .cards .card .card-data .unit.place {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.summary .cards .card .card-data .unit.place span {
  margin: -3px 0;
}

.summary .cards .monthly-list {
  display: flex;
  color: white;
}

.summary .cards .monthly-list .list-title {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  background: #6188c7;
  font-size: 14px;
  padding: 0 25px;
  position: relative;
}

.summary .cards .monthly-list .list-title.camping {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.summary .cards .monthly-list .list-title.camping img {
  margin-bottom: 4px;
}

.summary .cards .monthly-list .list {
  display: flex;
  border-radius: 0 10px 10px 0;
  background: #799bd1;
}

.summary .cards .monthly-list .list .item {
  font-size: 14px;
  width: 56px;
  min-width: 56px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.summary .cards .monthly-list .list .item .stays {
  font-size: 30px;
}

/*===============================
	ログ
================================*/

.camp-schedules {
  margin-top: 35px;
}

.camp-schedules .grid-tab-content .list {
  display: flex;
  flex-wrap: wrap;
}

.camp-schedules .grid-tab-content .list .item {
  width: calc(100% / 3);
  position: relative;
  cursor: pointer;
}

.camp-schedules .grid-tab-content .list .item:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.camp-schedules .grid-tab-content .list .item .eye-catch {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.camp-schedules .grid-tab-content .date {
  color: #FFFFFF;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 30px;
}

.camp-schedules .grid-tab-content .date .slash {
  border: 1px solid #FFFFFF;
  width: 40px;
  transform: rotate(-45deg);
  position: absolute;
  top: 40px;
  left: 24px;
}

.camp-schedules .grid-tab-content .date .day {
  position: absolute;
  top: 40px;
  left: 48px;
}

.camp-schedules .list-tab-content .item {
  padding: 30px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.camp-schedules .list-tab-content .item:first-child {
  border-top: 1px solid #ddd;
}

.camp-schedules .list-tab-content .item .title {
  font-size: 16px;
  font-weight: bold;
}

.camp-schedules .list-tab-content .item .date {
  color: #5e5e5e;
}

.camp-schedules .tab-content {
  display: none;
}

.camp-schedules .tab-content.show {
  display: block;
}

@media screen and (max-width: 480px) {
  .profile {
    display: block;
    padding: 0 10px;
  }

  .profile .avatar {
    position: relative;
    margin: 10px auto;
  }

  .profile .avatar img {
    position: relative;
    top: -40px;
  }

  .profile .text {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -40px;
  }

  .summary {
    padding: 10px;
  }

  .sns-list {
    margin-top: 50px;
    margin-bottom: -20px;
    padding: 10px;
  }

  .camp-schedules .grid-tab-content .date {
    top: 10px;
    left: 5px;
    font-size: 23px;
  }

  .camp-schedules .grid-tab-content .date .slash {
    width: 35px;
    top: 35px;
    left: 19px;
  }

  .camp-schedules .grid-tab-content .date .day {
    top: 35px;
    left: 43px;
  }
}

/*===============================
  キャンプ予定
================================*/

.camp-schedule-section {
  min-height: 500px;
}

.camp-schedule-section .content {
  padding: 10px;
}

.camp-schedule-section .camp-schedule-list {
  border: 1px solid #1A1A1A;
  padding: 10px;
}

.camp-schedule-section .camp-schedule-list .camp-schedule-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.camp-schedule-section .camp-schedule-list .camp-schedule-item .content-part {
  margin-right: 10px;
}

.camp-schedule-section .camp-schedule-list .camp-schedule-item .eye-catch-image {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.camp-schedule-section .camp-schedule-list .camp-schedule-item .buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.camp-schedule-section .camp-schedule-list .camp-schedule-item .buttons .content-part {
  width: 50%;
}

.camp-schedule-section .camp-schedule-list .camp-schedule-item .buttons .content-part a {
  margin: 5px 0;
}

/*===============================
  プロフィール設定
================================*/

.profile-edit-section .top-content {
  margin: 10px;
  align-items: center;
}

/*===============================
  アクセスコード
================================*/

.access-code {
  color: #62b882;
  font-weight: bold;
  margin-top: 10px;
}

.copy {
  margin: 15px;
  width: 80%;
}

.logout-btn {
  width: 100px;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .profile-edit-section .top-content {
    justify-content: center;
    align-items: center;
  }

  .profile-edit-section .profile-form {
    width: 90%;
  }

  .camp-schedule-section .camp-schedule-form {
    width: 90%;
  }

  .camp-schedule-section .camp-schedule-list .camp-schedule-item {
    flex-direction: column;
  }

  .camp-schedule-section .camp-schedule-list .camp-schedule-item .content-part {
    margin: 10px auto;
  }

  .camp-schedule-section .camp-schedule-list .camp-schedule-item .buttons {
    width: 100%;
  }

  .camp-schedule-section .camp-schedule-list .camp-schedule-item .buttons .content-part {
    width: 45%;
  }
}

.popup {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.popup .popup-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup .popup-content {
  background: #fff;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 10px;
  z-index: 2;
}

.popup .popup-content h3 {
  color: #f0b478;
}

.popup .popup-content .popup-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.popup .popup-content .popup-buttons a,
.popup .popup-content .popup-buttons button {
  margin: 5px auto !important;
  width: 90%;
}

.camp-schedule-show .popup-content {
  width: 70%;
}

.camp-schedule-show .camp-schedule-show-wrapper {
  overflow: auto;
}

.camp-schedule-show .camp-schedule-show-wrapper .camp-schedule-show {
  margin: 10px auto;
  max-height: 400px;
}

.camp-schedule-show .camp-schedule-show-wrapper .camp-schedule-show .item {
  margin: 10px;
}

.camp-schedule-show .camp-schedule-show-wrapper .camp-schedule-show .item label {
  color: #5c6066;
  font-size: 0.9rem;
  padding: 5px;
}

.camp-schedule-show .camp-schedule-show-wrapper .camp-schedule-show .item .item-value {
  font-weight: bold;
}

.camp-schedule-show .camp-schedule-show-wrapper .camp-schedule-show .item .item-value.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.camp-schedule-show .camp-schedule-show-wrapper .camp-schedule-show .item .item-value.images img {
  width: 100px;
  height: 100px;
  margin: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.image-modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.image-modal-bg img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
}

@media screen and (max-width: 480px) {
  .popup-content {
    width: 95% !important;
  }
}

.top-section {
  text-align: center;
}

.top-section .head img {
  width: 250px;
}

.top-section .top-content {
  position: relative;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.top-section .top-content .bg-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.top-section .top-content .buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -14px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 100px;
  align-items: center;
}

.top-section .top-content .buttons a {
  margin: 0 10px;
  width: 150px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: bold;
}

.top-section .middle-content {
  background: #ededed;
  position: relative;
  top: -10px;
  padding-bottom: 30px;
}

.top-section .middle-content .description {
  padding: 30px 0 20px 0;
  font-size: 1.3rem;
}

.top-section .middle-content img {
  width: 400px;
  mix-blend-mode: multiply;
}

.top-section .bottom-content {
  background: #f0b478;
  padding: 20px 0 0 0;
  position: relative;
  top: -10px;
}

.top-section .bottom-content .head-text {
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: bold;
}

.top-section .bottom-content img {
  width: 350px;
}

.top-section .content {
  margin-top: 80px;
}

.top-section .content .register-btn {
  padding: 15px 30px;
  font-size: 1.1rem;
}

.top-section .content .middle-txt {
  padding: 30px 0 10px 0;
}

@media (max-width: 480px) {
  .top-section .top-content .buttons {
    padding: 0;
  }

  .top-section .top-content .buttons a {
    margin: 0 5px;
    width: 33%;
    height: auto;
    font-size: 1rem;
  }

  .top-section .middle-content {
    padding: 0 10px;
  }

  .top-section .middle-content .description {
    font-size: 1rem;
  }

  .top-section .middle-content img {
    width: 90%;
  }

  .top-section .bottom-content .head-text {
    font-size: 1.2rem;
  }

  .top-section .bottom-content img {
    width: 80%;
  }

  .top-section .content {
    margin-top: 40px;
  }
}

